# Python
__pycache__/
*.pyc
*.pyo
venv/

# Node.js
**/node_modules/

# Logs and temporary files
*.log
*.env

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Other common files
*.swp
*.bak
*.tmp
*.old

# Composer (PHP)
**/vendor/

/postgres
