{% extends 'base_guest.html.twig' %}
{% block body %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="card shadow-sm" style="max-width: 400px; width: 100%;">
    <div class="card-body text-center">
      <button id="send-rabbitmq-btn" class="btn btn-success w-100">Отправить сообщение в RabbitMQ</button>
      <div id="rabbitmq-alert-container"></div>
    </div>
  </div>
</div>
{% endblock %} 