{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Добро пожаловать!</h1>
        <p class="card-text">Это главная страница приложения RabbitMQ Demo.</p>
    </div>
</div>
{% endblock %} 