{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="card mb-4">
    <div class="card-body">
        <h1 class="card-title">Dashboard</h1>
        <p class="card-text">Добро пожаловать в панель управления!</p>
        {% if app.user %}
            <button id="send-rabbitmq-btn" class="btn btn-success mt-4">Отправить сообщение в RabbitMQ</button>
            <div id="rabbitmq-alert-container"></div>
        {% endif %}
    </div>
</div>
{% endblock %} 