<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RabbitMQ Demo{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div class="container mt-4">
        {% if app.user %}
        <nav class="mb-3">
            <a class="btn btn-link" href="/">Home</a>
            <a class="btn btn-link" href="/dashboard">Dashboard</a>
            <span class="float-end text-muted">{{ app.user.email }}</span>
        </nav>
        <hr>
        {% endif %}
        {% block body %}{% endblock %}
    </div>
{# Подключаем JS ассеты #}
{{ encore_entry_script_tags('app') }}
</body>
</html>
