<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RabbitMQ Demo{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div class="container mt-4">
        {% block body %}{% endblock %}
    </div>
    {{ encore_entry_script_tags('app') }}
</body>
</html> 